<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head.ejs')  %> 
</head>
<body>

    <%- include('partials/navigation')  %> 
    
    <main class="vh-100 container pt-2 d-flex text-center justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur quod ullam reprehenderit nobis dolores recusandae expedita ut? Totam aliquam animi est, dicta vel, sit nihil autem ducimus magnam natus doloribus vitae voluptatem ea dolor quia? Porro odio totam fugiat tempora id ipsam similique minima quos aperiam maiores dicta maxime reiciendis deleniti repellendus enim quis hic placeat eos, mollitia distinctio aliquid sed repellat! Quaerat, incidunt quasi. Porro, harum sapiente quis reiciendis illo error ad magnam placeat sunt quos vero accusamus, quo et soluta minus, enim culpa? Dolorem ducimus aliquid corporis earum similique amet voluptatem placeat, quam nulla maiores dicta ratione voluptates mollitia, doloremque a aperiam non sequi, explicabo suscipit ipsa! Nihil officia obcaecati delectus non accusamus excepturi doloribus? Asperiores commodi ullam atque cum inventore, recusandae aperiam, placeat adipisci ut iste dolorum suscipit voluptatum quod labore minima repudiandae ipsam ad praesentium, quisquam animi aliquid. Sequi dolorum quis provident animi soluta obcaecati necessitatibus voluptate corrupti atque, perferendis odit ut voluptatum accusantium nobis deleniti autem tempora, quasi nam doloremque suscipit consequuntur alias nostrum ullam at. Quidem quos fugiat est a in, nostrum exercitationem, corporis accusamus, deleniti sint molestiae minus temporibus quia cumque. Fugiat, natus? Ab libero facilis nihil reprehenderit repellendus voluptas nobis eveniet itaque beatae. Ratione nostrum fugiat cupiditate, incidunt quasi magni voluptas ab magnam, sit facilis ipsum illo nulla sunt. Maiores, deleniti inventore suscipit rem, beatae quam quisquam distinctio ipsum quibusdam veritatis quidem consectetur excepturi nisi sed aspernatur facilis earum cum delectus architecto, atque neque laboriosam magnam dolores assumenda. Harum eaque dolorum pariatur adipisci rem vitae cupiditate distinctio ratione odio et impedit, iure sed beatae officiis nisi. Asperiores culpa vel reiciendis. Iure aliquam omnis aperiam cum magnam vitae, nostrum hic officia sapiente nemo labore odio eos doloremque voluptas quos eaque sequi exercitationem a veritatis in vero! Commodi quo vero quos, nemo aperiam soluta!</p>
        </section>
    </main>
    <%- include('partials/footer') %> 
</body>
</html>